.dashContainer {
	width: 100%;
	min-height: 88vh;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;

	/* border: solid 2px crimson; */
}

.sectionHeading {
	font-size: 1.4rem;
	letter-spacing: 1.4px;
	text-transform: uppercase;
	margin: 8px 0 4vh;
	line-height: initial;
}

.sectionSubHeading {
	font-size: 1rem;
	font-variant-caps: all-petite-caps;
	letter-spacing: 1px;

	/* margin-bottom: 0; */
}

.sectionSubText {
	font-size: 1rem;
	letter-spacing: 1px;

	/* margin-bottom: 0; */
}

.tools {
	width: 100%;
	margin: 4vh 0 0;
	padding: 2vh;
	min-height: 400px;
	color: #f3f3f1;
	background-color: #6284ff;
	background-image: linear-gradient(200deg, #7defff 0%, #6284ff 65%, #275db5 100%);

	/* background-image: linear-gradient(45deg, #3498db, #3d72b4); */
	/* background-image: linear-gradient(to left, #2c4f6b, #32485e); */
	/* background-image: linear-gradient(to bottom, #fff, #f6f6f6),
	linear-gradient(to left, #2c4f6b, #32485e);
	background-size: 50%, 100%; */
	background-repeat: no-repeat;
	border-radius: 4px;
	box-shadow: 4px 3px 6px 0 #0000001a;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

.eval {
	width: 100%;
	margin: 4vh auto;
	min-height: 400px;
	background-color: #3bb78f;
	background-image: linear-gradient(to bottom, #3bb78f 0%, #0bab64 74%);

	/* background-color: #009670; */
	/* background-image: linear-gradient(to top, #009670, #00ab69); */
	border-radius: 4px;
	filter: drop-shadow(0 2px 6px #0000001a);
	display: flex;
	flex-wrap: wrap;
}

.evalInfo {
	width: 100%;
	padding: 2vh;
	background-image: linear-gradient(to bottom, #fff, #f3f3f1);
	filter: drop-shadow(2px 0 6px #0000001a);
	border-radius: 4px;
}

.evalNext {
	width: 100%;
	color: azure;
	padding: 4vh 2vh 2vh 2vh;
}

.evalAdLink a {

	/* font-size: 1.2rem; */
}

.evalDisplay {
	display: flex;
	width: 80%;
	justify-content: space-between;
}

.evalDisplayBlock {
	width: 40%;
}

.evalTitle {
	font-size: 1rem;
	font-weight: 400;
	letter-spacing: 1.2px;
}

.evalValue {
	font-size: 2rem;
	font-weight: 600;
	color: #319177;
	margin: 0 0;
	line-height: inherit;
}

@media only screen and (min-width: 481px) {
	.dashContainer {
		max-width: 1000px;
		text-align: start;
	}

	.tools {
		min-height: 400px;

		/* lhs { width: 50% };
      rhs { width: 50% };
    */
	}

	.eval {
		min-height: 400px;

		/* details { width: 60% };
      container { width: 40% };
    */
	}

	.evalInfo {
		width: 60%;
	}

	.evalNext {
		width: 40%;
	}
}
