.learnLayout {

}

.learnHero {

}

.learnHeroText {
  
}

.learnHeroImg {
  
}

.learnForm {
  width: 480px;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

@media only screen and (min-width: 481px){
  .learnForm {
    width: 480px;
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
}