.container {
  min-width: 100px;
	height: 16vh;
	width: 100%; 
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	background-color: #162432;
	z-index: 10;
	/* position: fixed;
	top: 0;
	left: 0; */
	color: white;
	/* border: 1px solid salmon; */
	font-family: Poppins;
	letter-spacing: 200; 
}

.head {
  height: 10vh;
  width: 100%;
  display: flex;
  padding: 8px 0 0 0;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
}

.logo {
  height: 8vh;  
  cursor: pointer;
  pointer-events: none;
}

.authContainer {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 16%;
  height: 8vh;
  cursor: pointer;
  color: #16df64;
  border: null;
  border-left: .8px solid #222;
}

.avatar g {
  height: 8vh;
  fill: #16df64;
}

/* .avatar g path {
  fill: none;
  stroke: #16df84;
  stroke-width: 1px;
} */

.authContainer span {
  font-variant: small-caps;
  font-size: .6rem;
  line-height: .8rem;
  letter-spacing: 2px;
  /* align-self: flex-end; */
}

.links {
  height: 6vh;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  letter-spacing: .5px;
  align-items: center;
  color: white;
  font-variant-caps: all-petite-caps;
}

a:active {
  color: #16df84;
  font-weight: 900;
  border-bottom: .75px solid #16df84;
}

@media only screen and (min-width: 481px) {
	.container {
    height: 80px;
    flex-direction: row;
    justify-content: space-between;
  }
  .head {
    padding: 1vh;
    width: max-content;
  }

  .logo {
    height: 6vh;
  }
  
  .links {
    width: 360px;
    justify-content: space-around;
    font-size: 1.2rem;
    letter-spacing: 1px;
  }

  a:hover, a:focus {
    color: #16df84;
  }

  .authContainer {
    width: 40px;
    height: 6vh;
  }
  
  .authContainer span {
    font-size: .55rem;
    line-height: .8rem;
    letter-spacing: 2px;
    /* align-self: flex-end; */
  }
}