.container {
  width: 100%;
  background-color: #FEFEFE;
}

.toolsNav {
  width: 100%;
  min-width: 320px;
  height: 6vh;
  display: flex;
  justify-content: space-between;
  padding: 16px;
  background-position: center;
  background-color: whitesmoke;
  color: #162432;

  box-sizing: border-box;
  box-shadow: 0 2px 1px 2px #22222240;
}

.linksContainer {
  display: flex;
  width: 220px;
  justify-content: space-around;
  font-variant-caps: all-petite-caps;
  letter-spacing: .4px;
}

.heroContainer {
  width: 100%;
  background-image: linear-gradient(-45deg, #AA00FF, #651FFF);
  background-position: center;
  background-size: 150%;
  box-shadow: 0 2px 1px #22222240;
  display: flex;
  align-items: flex-end;
  /* padding: 1rem; */
}

.hero {
  width: 100%;
  min-width: 320px;
  /* border-radius: 0 0 16px 16px; */
  /* background-size: cover;
  background: linear-gradient(#324a5c, #041620, right); */
}

.fore {
  width: 100%;
  min-width: 320px;
  margin: 0 auto;
  background-color: whitesmoke;
  color: darkslategray;
}

.formContainer {

}

.form {
  width: 100%;
  padding: 2rem;
}

.from input {
  width: 100%;
}

@media only screen and (min-width: 481px) {
  .toolsNav {
    /* min-width: 480px; */
  }
  .hero {
    /* min-width: 1024px; */
    background-clip: border-box;
    background-size: cover;
  }

  .fore {
    width: 50%;
    /* max-width: 1200px; */
    /* height: 100vh; */
    margin: 0 auto;
  }
}