.form {
	width: 92%;
	min-width: 312px;

	/* padding: 6vh 4vh 4vh; */
	text-align: start;
}

.inputRenderer {
	margin: 3vh 0;
	background-color: white;
	font-size: 1.2rem;
	border: none;
	border-radius: 2px;
	border-color: rebeccapurple;
	border: 1px groove #eeeeee;
	text-align: start;
	align-items: flex-start;
	justify-content: space-evenly;
}

.inline_pretext {
	padding-left: 1rem;
	padding-right: 1rem;
	border-radius: 2px;
	background-color: #fff39e;
	color: black;
}

.inputRenderer input,
.inputRenderer select,
.inputRenderer textarea {
	font-size: 1.2rem;
	margin: 0 4px;
	border: none;
	margin-left: 0.5rem;
}

.inline_input {
	min-width: 200px;
	border-bottom: 2px solid #ccc;
	outline: none;
}

.optionsContainer {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: flex-start;
}

.options {
	margin: 4px 8px;
	padding: 4px 12px 4px 2px;
}

.options:hover {
	background-color: antiquewhite;
	border-radius: 3px;
}

.range {
	-webkit-appearance: none; /* Override default CSS styles */
	appearance: none;
	border: none;
	width: 60%; /* Full-width */
	height: 1vh; /* Specified height */
	background: antiquewhite; /* Grey background */
	outline: none; /* Remove outline */
	opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
	-webkit-transition: 0.2s; /* 0.2 seconds transition on hover */
	transition: opacity 0.2s;
}

/* Mouse-over effects */
.range:hover {
	opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
	appearance: none;
	width: 1rem; /* Set a specific slider handle width */
	height: 1rem; /* Slider handle height */
	background: #16df84; /* Green background */
	cursor: pointer; /* Cursor on hover */
}

.range::-moz-range-thumb {
	border: 1px solid;
	width: 1rem; /* Set a specific slider handle width */
	height: 1rem; /* Slider handle height */
	background: #16df84; /* Green background */
	cursor: pointer; /* Cursor on hover */
}

.inline_error {
	width: 100%;
	max-width: 100%;
	display: flex;
	flex-wrap: wrap;

	font-size: 1.2rem;
	margin-bottom: -0.65rem;
	color: crimson;
	padding: 0.5rem;

	/* background-color: #fff39e;
	background-image: linear-gradient(45deg, #fff39e 0%, #ffbb9e 74%); */
}

@media only screen and (min-width: 481px) {
	.form {
		width: 60%;
		min-width: 600px;

		/* max-width: 440px;
		padding: 6vh 4vh 4vh; */
		text-align: start;
	}

	.inline_input {
		text-align: start;
	}

	.inline_error {
		font-size: 1.2rem;
		padding: 0.5rem;
	}
}
