.inputRenderer {
	margin: 16px 0;
	font-size: 1.2rem;
	margin: 0.5rem 0;
}

.inputRenderer input,
select {
	font-size: 1.4rem;
	margin: 0 4px;
	padding: 0 4px;
	border: none;
	border-bottom: 2px solid #eeeeee;
}

.inline_input {
	min-width: 200px;
}

.optionsContainer {
	display: flex;
	flex-wrap: wrap;
}

.options {
	margin: 0 8px;
}
