.form {
	width: 92%;
	min-width: 300px;
	margin: 2vh auto;
	padding: 3vh 2vh 1vh;

	/* display: flex; */

	/* flex-wrap: wrap; */

	text-align: center;
	background-color: white;
	filter: drop-shadow(0 3px 2px #2121211a);

	/* background-image: linear-gradient(45deg, #fde17e, #ffcc33);
	background-image: linear-gradient(45deg, #fff176, #fde17e);
	background-image: linear-gradient(135deg, #fff176, #ffcc33); */

	/* border: 2px solid crimson; */
}

.form_into {
	font-weight: 300;
}

.form button {
	width: auto;
	margin: 0.8rem 0;
	padding: 8px 16px;
	border: none;
	border: solid 2px #fff176;
	border-radius: 2px;
	background-color: #fff176;
	font-size: 1.2rem;
	font-weight: 700;
	font-family: 'Segoe UI', Muli, Tahoma, Geneva, Verdana, sans-serif;
}

.inline_input {
	border: none;
	width: 100%;
	background-color: #00000000;
	font-size: 1.4rem;
	border-bottom: 2px dotted #010203;
	margin: 8px 0;
	text-align: center;
}

.inline_input::placeholder {
	font-size: 1rem;
	font-weight: 200;
	color: cornflowerblue;
}

.inline_pretext {
	font-size: 1.4rem;
	font-weight: 200;
}

.inline_error {
	color: salmon;
	font-variant-caps: all-petite-caps;

	/* border-bottom: solid 8px #000; */
}

@media only screen and (min-width: 481px) {
	.form {
		width: 40%;
		max-width: 440px;
		padding: 6vh 4vh 4vh;
		text-align: start;
	}

	.inline_input {
		text-align: start;
	}
}
